body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: rgb(228, 227, 227);
}

.container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container .box {
  text-align: center;
}

.container .box .icon .fas {
  font-size: 80px;
  cursor: pointer;
  padding: 10px;
}

.container .box .icon h3,
.container .box .icon h4 {
  position: relative;
  overflow: hidden;
  font-weight: 400;
  margin: 0;
  padding: 5px 5px;
  font-size: 24px;
  transition-delay: 0.3333s;
  color: transparent;
}

.container .box .fas:hover~h3,
.container .box .fas:hover~h4 {
  color: #000;
}

.container .box .icon h4 {
  font-weight: 600;
  margin: 5px 0;
  font-style: 30px;
}

.container .box .icon h3:before,
.container .box .icon h4:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #837dff;
  transition: 1s;
}

.container .box .icon h4:before {
  left: initial;
  right: 100%;
  background: #bf81ff;
}

.container .box .fas:hover~h3:before {
  left: -100%;
}

.container .box .fas:hover~h4:before {
  left: initial;
  right: -100%;
}